<h1> List of Persons </h1>
<% @persons.each do |person| %>
    <h2><%= person.name %></h2>
    <%= link_to 'View Record', person_path(person) %>
    <%= link_to 'Edit', person_path(person) %>
    <%= link_to 'Delete', person, method: :destroy %> 
<% end %>